* { margin: 0;}

nav{ 
background-color: #8A96B5;
border: 1px black solid;
padding: 25px;
}

nav a {
font-family: 'Arvo', serif;
font-weight: 50;
font-size: 18px;
color: #F8F8FF;
text-decoration: none;
padding: 0px 30px;
display: inline-block;
float: right;
}

.clearfix: after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}

a: hover {
  background-color: #1E1E1E;
}


header {
  text-align: center;
  background: url('../images/coffeeshop1edit.jpg') no-repeat top scroll;
  border: 1px black solid;
  padding: 20px;
  background-size: cover;
  height: 400px;
  }

header h1 {
  text-align: center;
  font-family:'Arvo', serif ;
  color: #F8F8FF;
  font-weight: 700;
  font-size: 50px;
  padding-top: 120px;
  margin-top: 5px;
}

header p { 
 text-align: center;
 /*color: #F8F8FF;*/
 color: white;
 font-family: 'Open Sans', sans-serif;
 font-weight: 100;
 font-size: 25px;
 margin-top: 40px;
}

#strategy {
  background: #F8F8FF;
  background-size: cover;
  border: 1px solid black;
  padding: 80px 20px;
  color: #1E1E1E;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  font-size: 25px;

}

#copy {
  background: url('../images/coffeeshop3edit.jpg') no-repeat center center scroll;
  background-size: cover;
  border: 1px solid black;
  padding: 100px 20px;
  color: #F8F8FF;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  font-size: 25px;
}

#presentations {
  background: #F8F8FF;
  background-size: cover;
  border: 1px solid black;
  padding: 80px 20px;
  color: #1E1E1E;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  font-size: 25px;
}

#socialmedia {
  background: url('../images/coffeeshop2edit.jpg') no-repeat center center scroll;
  background-size: cover;
  border: 1px solid black;
  padding: 100px 20px;
  color: #F8F8FF;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  font-size: 25px;
}

#firstaside {
  float: left;
  clear: both;
  width: 60%;
}

#individual {
  float: left;
  background: violet;
  border: 1px solid black;
  padding: 100px;
  color: #1E1E1E;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  font-size: 15px;
  text-align: center;
}

#secondaside {
  float: right
  clear: both;

}

#organizations {
  background: pink;
  border: 1px solid black;
  padding: 100px;
  color: #1E1E1E;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  font-size: 15px;
  text-align: center;
}

footer {
  background-color: #8A96B5;
  border: 1px black solid;
  padding: 20px;
  color: #F8F8FF;
  font-family: 'Arvo', serif;
  font-weight: 100;
  font-size: 10px;
}
  