#main {
  text-align: center;
  background-image: url ("../image/startup2.jpg");
  background-size: cover;
  background-repeat: no-repeat center top;
  color: #F8F8FF;}
h1 {
  text-align: center;
  font-family: 'Julius Sans One', sans-serif;
  color: #F8F8FF;
  font-weight: 700;
  font-size: 40px;
}
p { 
 text-align: center;
 color: ##F8F8FF;
 font-family: 'Raleway', sans-serif;
 font-weight: 400;
 font-size: 25px;
}